# Banking Deserts
---
The below script uncovers the well-known phenomenon of [Banking Deserts](https://en.wikipedia.org/wiki/Banking_desert). The concept is simple: many neighborhoods with predominantly low-income and elderly populations tend to have inadequate coverage of banking services. This leads such communities to be  vulnerable to predatory loan and pricey check casher providers.

In this script, we retrieved and plotted data from the 2013 US Census and Google Places API to show the relationship between various socioeconomic parameters and bank count across 700 randomly selected zip codes. We used Pandas, Numpy, Matplotlib, Requests, Census API, and Google API to accomplish our task.

In [22]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
import json

# Google Places API Key
gkey = "YOUR-CODE-HERE"

## Data Retrieval

In [5]:
# Import the census data into a pandas Data Frame
csv_path = "Census_Data.csv"
data_df = pd.read_csv(csv_path)
# we may want to reconsider changing the index to Zipcode; so commented out the code for now
# data_df.set_index('Zipcode', inplace=True)

# Preview the data
data_df.head()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income,Poverty Rate
0,15081,"South Heights, PA 15081, USA",342,50.2,31500.0,22177,20.760234
1,20615,"Broomes Island, MD 20615, USA",424,43.4,114375.0,43920,5.188679
2,50201,"Nevada, IA 50201, USA",8139,40.4,56619.0,28908,7.777368
3,84020,"Draper, UT 84020, USA",42751,30.4,89922.0,33164,4.392880
4,39097,"Louise, MS 39097, USA",495,58.0,26838.0,17399,34.949495

In [6]:
# Check to see which columns are numeric; it appears all columns contain strings
data_df.describe

<bound method NDFrame.describe of      Zipcode                        Address  Population  Median Age  \
0      15081   South Heights, PA 15081, USA         342        50.2
1      20615  Broomes Island, MD 20615, USA         424        43.4
2      50201          Nevada, IA 50201, USA        8139        40.4
3      84020          Draper, UT 84020, USA       42751        30.4
4      39097          Louise, MS 39097, USA         495        58.0
5      72315     Blytheville, AR 72315, USA       24120        34.4
6       5454         Fairfax, VT 05454, USA        4754        38.7
7      53816         Mt Hope, WI 53816, USA         942        33.4
8       5483         Sheldon, VT 05483, USA        1481        35.9
9      37345        Huntland, TN 37345, USA        2155        46.0
10      1922         Byfield, MA 01922, USA        3025        44.4
11     95237       Lockeford, CA 95237, USA        3269        38.7
12     12429          Esopus, NY 12429, USA         273        38.7
13      6516      West Haven, CT 06516, USA       55349        36.9
14     81087           Vilas, CO 81087, USA         192        26.8
15      5492      Waterville, VT 05492, USA         727        41.0
16      2543      Woods Hole, MA 02543, USA         736        49.7
17      6062      Plainville, CT 06062, USA       17767        42.4
18     95008        Campbell, CA 95008, USA       45187        37.3
19      4418       Greenbush, ME 04418, USA        1632        42.0
20     96818        Honolulu, HI 96818, USA       51522        31.3
21     87734           Ocate, NM 87734, USA         190        60.4
22     30564     Murrayville, GA 30564, USA        3714        40.5
23     23146       Rockville, VA 23146, USA        3107        47.0
24     85250      Scottsdale, AZ 85250, USA       16653        48.6
25     59529        Hogeland, MT 59529, USA         143        57.2
26      1430      Ashburnham, MA 01430, USA        6119        42.4
27     90003     Los Angeles, CA 90003, USA       66200        26.2
28     93925         Chualar, CA 93925, USA        1708        32.5
29     54229     New Franken, WI 54229, USA        4123        40.4
..       ...                            ...         ...         ...
677    45328      Gettysburg, OH 45328, USA         692        30.4
678    68723         Carroll, NE 68723, USA         513        51.2
679     4622     Cherryfield, ME 04622, USA        1480        40.8
680    51049          Quimby, IA 51049, USA         476        47.9
681    77807           Bryan, TX 77807, USA       10882        30.2
682    60305    River Forest, IL 60305, USA       11183        41.4
683    47670       Princeton, IN 47670, USA       12140        39.5
684    78885      Vanderpool, TX 78885, USA         106        55.5
685     7603          Bogota, NJ 07603, USA        8231        38.7
686    84764           Bryce, UT 84764, USA         163        27.0
687    72680           Timbo, AR 72680, USA         769        46.6
688    85606         Cochise, AZ 85606, USA        1426        53.4
689    78122       Leesville, TX 78122, USA         200        56.6
690     5658      Marshfield, VT 05658, USA        1505        41.6
691    16665           Newry, PA 16665, USA         291        43.3
692    95246  Mountain Ranch, CA 95246, USA        1207        52.8
693    94556          Moraga, CA 94556, USA       15064        47.4
694    35951     Albertville, AL 35951, USA       12839        35.7
695    47967    New Richmond, IN 47967, USA         924        35.5
696    57105     Sioux Falls, SD 57105, USA       21984        38.2
697    64455          Graham, MO 64455, USA         315        50.6
698    24887      Switchback, WV 24887, USA         125        14.8
699    47926   Burnettsville, IN 47926, USA         932        35.9
700    36701           Selma, AL 36701, USA       22605        39.4
701    59087         Winnett, MT 59087, USA         506        48.3
702    22952       Lyndhurst, VA 22952, USA        2088        46.3
703    59201      Wolf Point, MT 59201, USA        5193        30.8
704    92115       San Diego, CA 92115, USA       61084        27.5
705    28327        Carthage, NC 28327, USA       15333        40.6
706    38504         Allardt, TN 38504, USA        1167        38.6

     Household Income  Per Capita Income  Poverty Rate
0             31500.0              22177     20.760234
1            114375.0              43920      5.188679
2             56619.0              28908      7.777368
3             89922.0              33164      4.392880
4             26838.0              17399     34.949495
5             37044.0              19837     23.586235
6             74911.0              31192      2.692469
7             44375.0              18813     29.299363
8             65039.0              24743      7.494936
9             38688.0              20549     15.684455
10           109301.0              40983      2.181818
11            44542.0              22400     16.702355
12           114129.0              43122      0.000000
13            52353.0              26602     11.042657
14            34500.0              13210      2.083333
15            53315.0              23399     12.104539
16            66250.0              50348      8.559783
17            60630.0              32531      6.613384
18            87204.0              44023      7.395932
19            37955.0              19692     17.769608
20            70850.0              26894      8.551687
21            42813.0              19060     44.736842
22            64213.0              23422      9.719978
23            77207.0              37414      5.857741
24            59358.0              39968      7.788386
25           115938.0              70966      1.398601
26            83532.0              34454      6.896552
27            29686.0               9963     39.021148
28            70909.0              23642      7.142857
29            68667.0              29538      5.918021
..                ...                ...           ...
677           43750.0              14939     28.034682
678           59000.0              25617      5.653021
679           40104.0              20084     17.770270
680           47847.0              22334     12.394958
681           42154.0              19089     24.967837
682          113317.0              62034      5.651435
683           45915.0              23971     12.421746
684           80417.0              38706      4.716981
685           77821.0              31670      8.832463
686           38750.0              19698     24.539877
687           28750.0              23495     21.586476
688           27406.0              17731     25.245442
689           30610.0              20433     13.000000
690           43958.0              22443     17.674419
691           27188.0              19095     19.243986
692           47379.0              29646      5.219553
693          120960.0              62600      4.155603
694           37210.0              19602     20.912844
695           53462.0              19191      9.632035
696           52255.0              30000      8.956514
697           43542.0              25407     16.507937
698               NaN               4526     88.800000
699           50469.0              20121      8.690987
700           32136.0              20992     26.140234
701           41250.0              22816     10.276680
702           43095.0              23158      5.651341
703           42699.0              17624     20.758714
704           41866.0              21011     25.695763
705           51609.0              23841     14.785104
706           46786.0              19634      9.340189

[707 rows x 7 columns]>

In [16]:
# Abdul owns this part:
#   The deliverable is reduced data_df data frame with 700 randomly selected cities with population >100
#   Two columns are added for each city: lat and lng which respectively hold lattitude and longitude info for each city

# Randomly select 700 zip codes locations that have at least 100 residents
# Hint: `pd.sample()`
# Hint: `pd[pd[astype(int) > 100`]]`
# Create blank columns in DataFrame for lat/lng

# Loop through and grab the lat/lng for each of the selected zips using Google maps
# Inside the loop add the lat/lng to our DataFrame
# Note: Be sure to use try/except to handle cities with missing data

#  I added two empty columns called lat and lng to illustratet the end result
#  Abdul will need to populate these columns with real data
lat = []
lng = []
for i in range(len(data_df['Zipcode'])):
    lat.append(0)
    lng.append(0)
data_df ['Lat'] = ''
data_df ['Lng'] = ''
# Visualize the DataFrame
data_df.head()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Num_Banks
0,15081,"South Heights, PA 15081, USA",342,50.2,31500.0,22177,20.760234,,,
1,20615,"Broomes Island, MD 20615, USA",424,43.4,114375.0,43920,5.188679,,,
2,50201,"Nevada, IA 50201, USA",8139,40.4,56619.0,28908,7.777368,,,
3,84020,"Draper, UT 84020, USA",42751,30.4,89922.0,33164,4.392880,,,
4,39097,"Louise, MS 39097, USA",495,58.0,26838.0,17399,34.949495,,,

In [21]:
# Alex owns this part
# Create an empty column for bank count
data_df ['Num_Banks'] = ''

# I created a small sample data frame with the first two rows of data_df and manually filled in the lat/lng columns
# with coordinates for Boise nad New York
# This approach generates warnings that I think can be ignored since I am trying to demonstrate 
sample_df = data_df[:2]
sample_df['Lat'][0] = 43.6187102
sample_df['Lng'][0] = -116.2146068
sample_df['Lat'][1] = 40.7128
sample_df['Lng'][1] = -74.0059

# Visualize the DataFrame
sample_df.head()

C:\Users\Leontiev\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leontiev\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2862: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Leontiev\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Leontiev\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Leontiev\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Num_Banks
0,15081,"South Heights, PA 15081, USA",342,50.2,31500.0,22177,20.760234,43.6187,-116.215,
1,20615,"Broomes Island, MD 20615, USA",424,43.4,114375.0,43920,5.188679,40.7128,-74.0059,

In [28]:
gkey = "AIzaSyDIf2LJb8kF7_7ZGHDHfsS7yoZzdwp-EqA"

# Target city
# Boise, Idaho {"lat": 43.6187102, "lng": -116.2146068}
# New York, NY {"lat": 40.7128, "lng": -74.0059}
#target_city = {"lat": 43.6187102, "lng": -116.2146068}

# Build the endpoint URL (Checks all ice cream shops)
for i in range(len(sample_df)):
    target_url = "https://maps.googleapis.com/maps/api/place/radarsearch/json" \
                 "?location=%s,%s&radius=8000&type=bank&key=%s" % (sample_df['Lat'][i], sample_df['Lng'][i], gkey)
    bank_data = requests.get(target_url).json()
    sample_df ['Num_Banks'][i] = len(bank_data['results'])

sample_df.head()
#print(len(bank_data["results"]))

C:\Users\Leontiev\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Leontiev\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2862: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Num_Banks
0,15081,"South Heights, PA 15081, USA",342,50.2,31500.0,22177,20.760234,43.6187,-116.215,109
1,20615,"Broomes Island, MD 20615, USA",424,43.4,114375.0,43920,5.188679,40.7128,-74.0059,199

## Save Graphs

In [ ]:
# Beatriz owns this part and will plot various graphs using data in data_df
# Save the DataFrame as a csv

## Plot Graphs

In [ ]:
# Build a scatter plot for each data type

In [ ]:
# Build a scatter plot for each data type
plt.scatter(selected_zips["Bank Count"], 
            selected_zips["Median Age"],
            edgecolor="black", linewidths=1, marker="o", 
            alpha=0.8, label="Zip Codes")

# Incorporate the other graph properties
plt.title("Median Age vs. Bank Count by Zip Code")
plt.ylabel("Median Age")
plt.xlabel("Bank Count")
plt.grid(True)
plt.xlim([-2.5, 202])

# Save the figure
plt.savefig("output_analysis/Age_BankCount.png")

# Show plot
plt.show()

In [ ]:
# Build a scatter plot for each data type
plt.scatter(selected_zips["Bank Count"], 
            selected_zips["Household Income"],
            edgecolor="black", linewidths=1, marker="o", 
            alpha=0.8, label="Zip Codes")

# Incorporate the other graph properties
plt.title("Household Income vs. Bank Count by Zip Code")
plt.ylabel("Household Income ($)")
plt.xlabel("Bank Count")
plt.grid(True)
plt.xlim([-2.5, 202])
plt.ylim([-2.5, 230000])

# Save the figure
plt.savefig("output_analysis/HouseholdIncome_BankCount.png")

# Show plot
plt.show()

In [ ]:
# Build a scatter plot for each data type
plt.scatter(selected_zips["Bank Count"], 
            selected_zips["Per Capita Income"],
            edgecolor="black", linewidths=1, marker="o", 
            alpha=0.8, label="Zip Codes")

# Incorporate the other graph properties
plt.title("Per Capita Income vs. Bank Count by Zip Code")
plt.ylabel("Per Capita Income (%)")
plt.xlabel("Bank Count")
plt.grid(True)
plt.xlim([-2.5, 202])
plt.ylim([0, 165000])

# Save the figure
plt.savefig("output_analysis/PerCapitaIncome_BankCount.png")

# Show plot
plt.show()

In [ ]:
# Build a scatter plot for each data type
plt.scatter(selected_zips["Bank Count"], 
            selected_zips["Poverty Rate"],
            edgecolor="black", linewidths=1, marker="o", 
            alpha=0.8, label="Zip Codes")

# Incorporate the other graph properties
plt.title("Poverty Rate vs. Bank Count by Zip Code")
plt.ylabel("Poverty Rate (%)")
plt.xlabel("Bank Count")
plt.grid(True)
plt.xlim([-2.5, 202])
plt.ylim([-2.5, 102])

# Save the figure
plt.savefig("output_analysis/PovertyRate_BankCount.png")

# Show plot
plt.show()